.contact-container {
  padding: 50px 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.icon {
  margin-top: 20px;
  width: 100%;
  max-width: 50px;
  border: none !important;
}